/*------things-----*/
/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
  }
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}
li a:hover{
    background: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(0, 192, 226);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}


/*Login*/
/* .form-box
{
    width:380px;
    height:480px;
    position:relative;
    margin:2% auto;
    background:rgba(0,0,0,0.3);
    padding:10px;
    overflow: hidden;
}
.button-box
{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #00ff3c1f;
    border-radius: 30px;
}
.toggle-btn
{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline: none;
    position: relative;
}
#btn
{
    top: 0;
    left:0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: #fefefe;
    border-radius: 30px;
    transition: .5s;
    margin: 0 5px;
}
.input-group-login
{
    top: 150px;
    position:absolute;
    width:280px;
    transition:.5s;
}
.input-group-register
{
    top: 120px;
    position:absolute;
    width:280px;
    transition:.5s;
}
.input-field
{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #fefefe;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 34px 0;
}
span
{
    color:#777;
    font-size:12px;
    bottom:68px;
    position:absolute;
}
#login
{
    left:50px;
}
#login input
{
    color:white;
    font-size:15;
}
#register
{
    left:450px;
}
#register input
{
    color:white;
    font-size: 15;
} */





/*about*/
.about{
    width: 100%;
    padding: 78px 0px;
    /* background-color: #191919; */
    background-color: #24262b;
    
}
.about img{
    height: auto;
    width: 420px
}
.about-text{
    width: 550px;
}
.mains{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

span{
  color: #f9004d;
}
.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/*------Player Icons-----*/
h1
{
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2{
    font-size:46px;
    line-height: 54px;
    color: rgb(255, 255, 255);
}

h3{
    font-size: 46px;
    line-height: 54px;
    color: white;
}

h4{
    font-size: 40px;
    color:white;
}

h5{
    font-size: 12px;
    color:white;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p
{
    font-size: 16px;
    color: white;
}

.section-p1
{
    padding: 40px 80px;
}

.section-m1
{
    margin:40px 0;
}

body
{
    width: 100%;
}

#header
{
 display:flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 20px;
 background-color: rgb(61, 61, 61);
 box-shadow: 0 5px 15px rgba(123, 123, 123, 0.06);
 z-index: 999;
 position: sticky;
 top: 0;
 left: 0;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight:600;
    color: antiquewhite;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
    color: antiquewhite;
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background-color:antiquewhite ;
    position: absolute;
    bottom:-4px;
    left: 20px;
}

#mobile
{
    display: none;
    align-items:center;
}

#close
{
    display:none;
}

#hero
{
    background-image: url("Images/1.png");
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding:0 80px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#hero h4
{
    padding-top: 20px;
    padding-bottom: 15px;
}

#hero h2
{
    padding-bottom: 15px;
}

#product1
{
    text-align: center;

}

#product1 .pro
{
    width: 23%;
    min-width: 250px;
    padding:10px 12px;
    border: 5px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px white(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.7s ease;
    position: relative;
}

#product1 .pro:hover
{
    box-shadow: 10px 10px;
}

#product1 .pro img
{
    width:100%;
    border-radius: 20px;
}

#product1 .pro .des
{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro-container
{
    /* display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap; */
    display: inline-block;
    margin:  0 -310px 0 0;
    
}


#product1 .pro .des span
{
    color: rgb(255, 255, 255);
    font-size: 40px
}

#product1


#feature .fe-box{
    width:280px;
    text-align:center;
    padding: 30px 10px;
    box-shadow: 20px 20px 34px rgb(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius :4px;
    margin:15px 15px;
}

#feature .fe-box:hover
{
    box-shadow:10px 10px 54px rgba(70,62,221,0.1)
}

#feature .fe-box h6
{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius:4px;
    color:#d52121;
    background-color:rgb(255, 255, 255);
}

#feature .fe-box img
{
    width: 100%;
    margin-bottom:10px;
}

#feature
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#forward
{
    padding-right:12px;
}

@media (max-width:799px) 
{
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right:-300px;
        height: 100vh;
        width:300px;
        background-color:rgb(65, 65, 65);
        box-shadow: 0 40px 60px rgba(0,0,0,0.01);
        padding-top: 80px 0 0 10px;
        transition: 0.3;
    }

    #navbar li
    {
        margin-top: 15px;
        margin-left: 25px;
        margin-bottom:15px;
    }

    #mobile
    {
    display: flex;
    align-items:center;
    }
    
    #mobile i
    {
        color: antiquewhite;
        font-size: 25px;
        padding-left:20px;
    }

    #navbar.active
    {
        right: -0px;
    }

    #close
    {
        display: initial;
        position: absolute;
        top:5px;
        left:25px;
        color: white;
        font-size: 25px;
    }

    #hero {
        
        height: 70vh;
        padding:0 80px;
        background-position: top 30% right 30%;
    }
}


@media screen and (max-width: 1025px)
{
    html{
        font-size: 55%;
     }



    header{

    }
}
    
/*----reviews----*/
body{
  display: flex;
  height: 100vh;
}
.reviewbg{
  width: 100%;
  padding: 0px 0px;
  background-color: #24262b;
  margin: 0;
}

.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
    color: red;
  font

}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: #f1c1c1;
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px #f1c1c1;
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}












/* .containerz {
  background-image: url(images/cockster.png);
  background-size: cover;
  padding: 50px;
} */






/*------Contact us-----*/

body
{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: #1d2026;
    font-family: 'Poppins', sans-serif;
}
.contact-in
{
    width: 80%; 
    height: auto; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
    padding: 1Opx; 
    border-radius: lOpx; 
    background: Xfff; 
    box-shadow: Opx Opx lOpx Opx #666; 
}
.contact-map iframe
{
    width: 100%;
    height: 400px;
}
.contact-form
{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.contact-form h1
{
    margin-bottom: 10px;
}
.contact-form-txt
{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: px;
}
.contact-form-txt::placeholder
{
    color: #aaa;
}
.contact-form-txtarea
{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-form-txt::placeholder
{
    color: #aaa;
}

.contact-form-btn
{
    width: 100%;
    border:none;
    outline: none;
    border-radius: 50px;
    background: #f9004d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}























/*------FOOOTER-----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 100px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




