/*------things-----*/
/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} */
/*auto scroll top*/



h3{
  text-align: center;
  font-size: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .scroll-btn {
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 20px;
  }
  
.nav-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
  }
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 90%;
    padding: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(37, 9, 9, 0.5);
    z-index: 999;
    font-size: 14px;
}
.navbar ul li a {
    font-size: 20px;
}


.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}
li a:hover{
    background: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(0, 192, 226);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}




/*about*/
.about{
    width: 100%;
    padding: 100px 0px;

    background-color: #24262b;
    
}
.about img{
    height: auto;
    width: 550px
}
.about-text{
    width: 550px;
}
.mains{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

span{
  color: #f9004d;
}
.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
@media (max-width: 767px) {
  .about {
  padding: 50px 0;
  }
  .about-text,
  .about img {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  }
  .mains {
  flex-direction: column;
  }
  .about-text h1,
  .about-text h5 {
  font-size: 50px;
  margin-bottom: 20px;
  }
  .about-text p {
  font-size: 16px;
  }
  }


    
/*----reviews----*/
body{
  display: flex;
  height: 100vh;
}
.reviewbg{
  width: 100%;
  padding: 0px 0px;
  background-color: #24262b;
  margin: 0;
}

.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
  color: red;
}


.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: #f1c1c1;
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px #f1c1c1;
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}
@media (min-width: 700px) {
  #product1 .pro {
    width: calc(25% - 15px);
  }
}







/*------Contact us-----*/

body {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: #1d2026;
    font-family: 'Poppins', sans-serif;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
    margin-top: 80px;
}

.contact-map iframe {
    width: 100%;
    height: 600px;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 10px;
    color: black;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;

}
.contact-form-txt::placeholder
{
    color: #aaa;
}
.contact-form-txtarea
{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-form-txt::placeholder
{
    color: #aaa;
}

.contact-form-btn
{
    width: 100%;
    border:none;
    outline: none;
    border-radius: 50px;
    background: #f9004d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}








/*Login*/
.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.login-container .show-btn {
  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.login-container .show-btn, .login-container .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-container input[type="checkbox"]{
  display: none;
}
.login-container .container{
  display: none;
  background: white;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px black;
}
.login-container #show:checked ~ .container{
  display: block;
}
.login-container .container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.login-container .container .close-btn:hover{
  color: #3498db;
}
.login-container .container .text{
  color: black;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  font-style: oblique;
}
.login-container .container form{
  margin-top: -20px;
}
.login-container .container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
.login-container form .data label{
  font-size: 18px;
  color: black;
}
.login-container form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
.login-container form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
.login-container form .forgot-pass{
  margin-top: -8px;
}
.login-container form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
.login-container form .forgot-pass a:hover{
  text-decoration: underline;
}
.login-container form .btn{
  margin: 30px 0;
  height: 60px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.login-container form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;

    left: -100%;
    z-index: -1;
    background: black;
    transition: all 0.4s;
  }
  .login-container form .btn:hover .inner{
    left: 0;
  }
  .login-container form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    
  }
  .login-container form .signup-link{
    text-align: center;
  }
  .login-container form .signup-link a{
    color: #3498db;
    text-decoration: none;
  }
  .login-container form .signup-link a:hover{
    text-decoration: underline;
  }
  /*M*/
  @media only screen and (max-width: 600px) {
    .login-container {
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    .login-container .show-btn {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
    .login-container .container {
      width: 100%;
      padding: 10px;
      box-shadow: none;
    }
    .login-container form .data {
      height: 40px;
    }
    .login-container form .data label {
      font-size: 16px;
    }
    .login-container form .data input {
      font-size: 16px;
    }
    .login-container form .btn button {
      font-size: 16px;
    }
  }











  /*------FOOOTER-----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 100px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: ' ';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




/*new browse*/

.browse-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .browse-card {
  height: 500px;
  width: 350px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  flex-basis: calc(25% - 100px);
  }
  
  .browse-img {
  height: 500px;
  width: 100%;
  border-radius: 3px;
  transition: 0.5s;
  }
  
  .browse-intro {
  height: 70px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 240px;
  background: rgba(27, 27, 27, 0.05);
  color: White;
  transition: 0.5s;
  }
  
  .browse-header {
  margin: 10px;
  font-size: 47px;
  font-weight: bold;
  }
  
  .browse-text {
  font-size: 60px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  font-weight: bolder;
  font-style: italic;
  }
  
  .browse-bold {
  font-weight: bold;
  font-size: 20px;
  }
  
  .browse-card:hover {
  cursor: pointer;
  }
  
  .browse-card:hover .browse-intro {
  height: 220px;
  bottom: 240px;
  background: black;
  }
  
  .browse-card:hover .browse-text {
  opacity: 1;
  visibility: visible;
  }
  
  .browse-card:hover .browse-img {
  transform: scale(1.1) rotate(-3deg);
  }


  /*rating*/
  .rating-container{
    position: relative;
    width: 100%;
    background: #24262b;
    padding: -10px 20px 30px 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

.rating-post{
display: none;
}

.rating-text{
font-size: 25px;
color: #666;
font-weight: 500;
text-align: center;
}

.rating-edit{
position: absolute;
right: 10px;
top: 5px;
font-size: 16px;
color: #666;
font-weight: 500;
cursor: pointer;
}

.rating-edit:hover{
text-decoration: underline;
}

.rating-star-widget input{
display: none;
}

.rating-star-widget label{
font-size: 40px;
color: #c56d6d;
padding: 10px;
float: right;
transition: all 0.2s ease;

}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}

input:checked ~ label{
color: #fd4;
}

input#rating-5:checked ~ label{
color: #fe7;
text-shadow: 0 0 20px #952;
}

#rating-1:checked ~ form header:before{
content: "I just hate it ";
}

#rating-2:checked ~ form header:before{
content: "I don't like it ";
}

#rating-3:checked ~ form header:before{
content: "It is awesome ";
}

#rating-4:checked ~ form header:before{
content: "I just like it ";
}

#rating-5:checked ~ form header:before{
content: "I just love it ";
}

.rating-form{
display: none;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 100px;
}

input:checked ~ .rating-form{
display: block;
}

.rating-form header{
width: 100%;
font-size: 25px;
color: #fe7;
font-weight: 500;
margin: 5px 0 20px 0;
text-align: center;
transition: all 0.2s ease;
}

.rating-form .rating-textarea{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.rating-form .rating-textarea textarea{
height: 100%;
width: 100%;
outline: none;
color: #eee;
border: 1px solid #333;
background: #960000;
padding: 10px;
font-size: 17px;
resize: none;
}

.rating-textarea textarea:focus{
border-color: #444;
}

.rating-form .rating-btn {
  height: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-form .rating-btn button:hover{
  background: #1b1b1b;
}




/*Sign up form*/
.specific-wrap {
  margin: 2% auto;
  background: rgba(125, 63, 152, 0.52);
  width: 32%;
  font-family: monospace;
  padding: 0 20px;
  }
  .specific-head {
  font-size: 38px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  }
  .specific-sub-main{
  position:relative;
  }
  
  .specific-sub-main input[type="text"],.specific-sub-main input[type="password"] {
  outline: none;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0px 18px 1px;
  color: black;
  padding: 10px 38px;
  border: none;
  border-radius: 2px;
  width: 68%;
  font-family: monospace;
  }
  .specific-sub-main input[type="submit"] {
  color: white;
  background: #d52685;
  border: none;
  padding: 14px 50px 14px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 2px;
  margin: 17px;
  font-family: monospace;
  cursor:pointer;
  text-transform:uppercase;
  transition:0.5s all;
  
  }
  .specific-sub-main input[type="submit"]:hover {
  background: #d9edf7;
  color: black;
  transition:0.5s all;
  
  }



  lottie-player {
    margin: 100px 100px 10px 0;
}